body {
  background: url(../img/传承保护/8.png) no-repeat;
  background-size: cover;
}
.culture {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 900px;
  margin-left: 100px;
}
.culture .title {
  width: 230px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid rgba(43, 56, 126, 0.6);
  animation-name: display;
  opacity: 1;
}
.culture .title h1 {
  width: 0;
  height: 100px;
  overflow: hidden;
  font-size: 100px;
  text-align: center;
  color: #682a1e;
  animation: w 2s forwards;
  cursor: pointer;
}
.culture .value {
  justify-content: center;
  width: 440px;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid rgba(43, 56, 126, 0.8);
  border-radius: 70px 0 0 70px;
  cursor: default;
  transform: rotateY(20deg);
}
.culture .value h1 {
  color: #ccc;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  padding: 10px 0px;
}
.culture .value span {
  display: block;
  line-height: 40px;
  font-size: 18px;
  color: #ccc;
  text-indent: 2em;
  padding: 0 0 0 5px;
}
.culture .value-show {
  width: 900px;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 10px solid rgba(43, 56, 126, 0.9);
  border-radius: 20px;
  cursor: default;
  padding: 0 30px;
}
.culture .value-show .shoWclose {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: #ccc;
}
.culture .value-show h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 20px;
  color: #fff;
}
.culture .value-show span {
  display: block;
  line-height: 55px;
  font-size: 30px;
  color: #fff;
  text-indent: 2em;
}
.culture .protect {
  width: 440px;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid rgba(43, 56, 126, 0.8);
  border-radius: 0px 70px 70px 0px;
  cursor: default;
  transform: rotateY(-20deg);
}
.culture .protect h1 {
  color: #ccc;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  padding: 10px 0px;
}
.culture .protect span {
  display: block;
  line-height: 55px;
  font-size: 20px;
  color: #ccc;
  text-indent: 2em;
  padding: 0 5px;
}
.culture .protect-show {
  width: 900px;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 10px solid rgba(43, 56, 126, 0.9);
  border-radius: 20px;
  cursor: default;
  padding: 0 30px;
}
.culture .protect-show .shoWclose {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: #ccc;
}
.culture .protect-show h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 20px;
  color: #fff;
}
.culture .protect-show span {
  display: block;
  line-height: 80px;
  font-size: 30px;
  color: #fff;
  text-indent: 2em;
}
@keyframes w {
  25% {
    height: 120px;
  }
  50% {
    width: 230px;
    height: 120px;
  }
  75% {
    width: 230px;
    height: 220px;
  }
  100% {
    width: 230px;
    height: 300px;
  }
}
